{* Latte template *}

{block content}

<div class="jumbotron">
<h2 n:block=title>Add event</h2>
    <div class="row">
        <div class="col-md-6">
            {control eventForm}        
        </div>
    </div>
</div>