{* Latte template *}

{block content}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            {control newGroup}        
        </div>
        <div class="md-modal">
            {control friendList}
        </div>
        <div class="md-overlay"></div>
    </div>
</div>